html {
    height: 100%
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(../images/circuit/circuit.png)
}

header {
    margin-bottom: 10px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

#headerName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0 0 0 151px;
    padding: 14px 8px 5px 8px;
    color: white;
    background-color: #4aaaa5
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 170px 0 0;
}

#index {
    margin-right: 10px;
    border-right: 1px;
    border: grey
}

#portfolio {
    margin-right: 10px;
    border-right: 1px grey;
}

.mainContent {
    overflow: auto;
    border: 1px solid #dddddd;
    background: #ffffff;
    width: 960px;
    margin: 0 151px;
}

#bioText {
    margin-left: 10px
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px gray solid;
    padding: 10px;
}

#bio-picture {
    margin: 0 10px 10px 10px;
    float: left;
    width: 30%;
}

footer {
    flex: 0 0 auto;
    background: #666666;
    border-top: 8px solid #4aaaa5;
}

h6 {
    text-align: center;
    margin: 9px 0 3px 0;
    height: 20px
}
div {
    flex: 1 0 auto;
    margin-bottom: 12px;
}


form {
    margin: 0 10px 10px 10px;
}

#name,
#email,
#messageBox {
    width: 100%;
}
